#header-container > a:first-child {
  @apply gap-2;
}

.hero {
  @apply mt-12;
  @apply md:w-5/6 md:mx-auto;
}

.mobile-preferences {
  @apply mt-[32px] bg-(--sl-color-black) py-4 px-6 rounded-md;
}

details#left-sidebar summary::-webkit-details-marker {
  display: none;
}

.sl-banner {
  @apply bg-(--sl-color-accent-low) text-(--sl-color-white) text-lg;
  @apply p-4 md:p-5;

  * {
    @apply text-(--sl-color-white) font-bold;
  }

  a * {
    @apply text-(--sl-color-accent-high);
  }
}

/* Markdown */
.sl-markdown-content {
  @apply p-4 md:p-8;

  ul:has(> li),
  ol:has(> li) {
    @apply list-inside ml-2;
  }

  ul:not(.contains-task-list) > li {
    @apply list-disc;
  }

  ol > li {
    @apply list-decimal;
  }
}

main > div > footer {
  @apply p-4 md:p-8;
}
