---
// frontmatter
---

<div
  class="
    flex flex-col justify-items-start
    [&_footer]:pb-[72px]
  "
>
  <style is:inline>
    main div:nth-child(2) h1:not(#_top) {
      margin-top: 1.5rem;
      margin-bottom: 2rem;
      font-weight: bold;
    }
  </style>
  <slot />
</div>
