---
import { Icon } from '@astrojs/starlight/components'
---

<button
  onclick="toggleLeftSidebar()"
  class="
    p-2 ml-auto
    bg-(--sl-color-white)
    rounded-full
    cursor-pointer
    fixed bottom-2 left-2
  "
>
  <Icon name="bars" size="2rem" color="var(--sl-color-black)" />
</button>

<script is:inline>
  function toggleLeftSidebar() {
    const leftSidebarDetails = document.getElementById('left-sidebar')
    leftSidebarDetails.open = !leftSidebarDetails.open
  }
</script>
