---
// import MobileMenuToggle from '@astrojs/starlight/components/MobileMenuToggle.astro'
import MobileMenuToggle from './MobileMenuToggle.astro'
import type { Props } from '@astrojs/starlight/props'

const { hasSidebar } = Astro.props
---

<header
  class="
    sticky top-0
    flex items-center justify-between
    py-2 px-4
    border-b-1
    border-b-(--sl-color-gray-3)
    bg-(--sl-color-black)
  "
>
  <slot name="header" />
</header>

<div
  class="
    bg-amber-900 flex justify-between min-h-full
    [&_main]:grow
    [&_main]:bg-blue-800
    [&_main]:min-h-screen
    [&_main]:px-8
    [&_main]:py-10
  "
>
  {
    hasSidebar && (
      <details open>
        <summary>
          <MobileMenuToggle {...Astro.props} />
        </summary>

        <nav class="bg-blue-900">
          <slot name="sidebar" />
        </nav>
      </details>
    )
  }

  <slot />
</div>
