---
// import MobileMenuToggle from '@astrojs/starlight/components/MobileMenuToggle.astro'
import MobileMenuToggle from './MobileMenuToggle.astro'
import type { Props } from '@astrojs/starlight/props'

const { hasSidebar } = Astro.props
---

<header
  class="
    flex items-center justify-between
    py-2 px-4
    border-b-1
    border-b-(--sl-color-gray-3)
  "
>
  <slot name="header" />
</header>

<div class="bg-amber-800 flex justify-between ">
  {
    hasSidebar && (
      <details open>
        <summary>
          <MobileMenuToggle {...Astro.props} />
        </summary>

        <nav class="bg-blue-900">
          <slot name="sidebar" />
        </nav>
      </details>
    )
  }

  <slot />
</div>
