---
import MobileMenuToggle from '@astrojs/starlight/components/MobileMenuToggle.astro'
import type { Props } from '@astrojs/starlight/props'

const { hasSidebar } = Astro.props
---

<header>
  <slot name="header" />
</header>

{
  hasSidebar && (
    <nav class="bg-blue-900">
      <slot name="sidebar" />
    </nav>

    <MobileMenuToggle {...Astro.props}/> 
  )
}

<div class="main-frame">
  <slot />
</div>
