---
// import MobileMenuToggle from '@astrojs/starlight/components/MobileMenuToggle.astro'
import MobileMenuToggle from './MobileMenuToggle.astro'
import type { Props } from '@astrojs/starlight/props'

const { hasSidebar } = Astro.props
---

<header
  class="
    sticky top-0
    z-40
    flex items-center justify-between
    py-2 px-4
    border-b-1
    border-b-(--sl-color-gray-3)
    bg-(--sl-color-black)
  "
>
  <slot name="header" />
</header>

<div
  class="
    flex justify-between min-h-full
    [&_main]:grow
    [&_main]:bg-blue-800
    [&_main]:min-h-screen
    [&_main]:px-8
    [&_main]:py-10
  "
>
  {
    hasSidebar && (
      <aside class="z-auto relative">
        <details
          id="left-sidebar"
          name="sidebar"
          open
          class="
            open:[&_summary]:opacity-100
            [&_summary]:opacity-40
            [&_summary]:hover:opacity-100
          "
        >
          <summary
            class="
              fixed bottom-2
              left-2
              w-fit
              list-none
            "
          >
            <MobileMenuToggle {...Astro.props} />
          </summary>

          <nav class="w-3xs p-4">
            <slot name="sidebar" />
          </nav>
        </details>
      </aside>
    )
  }

  <slot />
</div>
