---
import TableOfContents from './TableOfContents.astro'
const { toc } = Astro.locals.starlightRoute
---

{
  toc && (
    <aside
      class="
        p-4
        w-[14rem]
        hidden
        lg:block
        h-full
        bg-(--sl-color-black)
        border-l-1
        border-(--sl-color-gray-5)
      "
    >
      <h2
        class="
          font-bold
          text-lg
          text-(--sl-color-white)
          mb-4
        "
      >
        On this page
      </h2>
      <nav
        class="
          pl-2
        "
      >
        <TableOfContents toc={toc.items} />
      </nav>
    </aside>
  )
}
