---
import MobileMenuToggle from './MobileMenuToggle.astro'

const { hasSidebar } = Astro.locals.starlightRoute
---

<div
  class="
    flex flex-col
    min-h-dvh
    w-screen
    w-max-screen
    items-stretch
  "
>
  <header
    class="
      sticky top-0
      mb-12
      z-40
      flex items-center justify-between
      py-2 px-4
      border-b-1
      border-b-(--sl-color-gray-3)
      bg-(--sl-color-gray-6)
    "
  >
    <slot name="header" />
  </header>

  <div
    class="
      flex
      w-screen
    "
  >
    {
      hasSidebar &&
        (
        <aside
          class="
            fixed top-0 left-0
            h-auto
            h-max-screen
            h-min-screen
            w-auto
            bg-(--sl-color-gray-6)
            z-1000
            md:relative
            md:h-auto
            md:w-auto
          "
          style="height: calc(100dvh - 68px)"
        >
          <details
            id="left-sidebar"
            name="sidebar"
            class="
              w-fit
              open:[&_summary]:opacity-100
              [&_>_summary]:opacity-40
              [&_>_summary]:hover:opacity-100
            "
          >
            <nav
              class="
                py-8 px-4
                w-screen
                h-md
                md:w-[16rem]
                md:p-2
                [&_summary]:bg-(--sl-color-gray-5)
              "
            >
              <slot name="sidebar" />
            </nav>
            <summary
              class="
                fixed bottom-2
                z-8000
                left-2
                w-fit
                list-none
              "
            >
              <MobileMenuToggle {...Astro.props} />
            </summary>
          </details>
        </aside>
      )
    }

    {
      hasSidebar &&
        (
        <script is:inline>
          function displayLeftSideBar() {
      const docWidth = document.documentElement.clientWidth
      const md = 768

      if (docWidth > md) {
        document.getElementById('left-sidebar').open = true
      } else {
        document.getElementById('left-sidebar').open = false
      }
    }

    // })

    displayLeftSideBar()
        </script>
      )
    }

    <slot />
  </div>
</div>
