---
import MobileMenuToggle from './MobileMenuToggle.astro'

const { hasSidebar } = Astro.locals.starlightRoute
---

<div
  class="
    flex flex-col
    min-h-dvh
    w-dvw
    items-stretch
  "
>
  <header
    class="
      sticky top-0
      mb-12
      z-40
      flex items-center justify-between
      py-2 px-4
      border-b-1
      border-b-(--sl-color-gray-3)
      bg-(--sl-color-gray-6)
    "
  >
    <slot name="header" />
  </header>

  <div
    class="
      flex
      w-dvw
    "
  >
    {
      hasSidebar &&
        (
        <aside
          class="
            fixed top-0 left-0
            h-fit
            w-auto
            bg-(--sl-color-gray-6)
            z-1000
            md:relative
            md:h-auto
            md:w-auto
          "
        >
          <details
            id="left-sidebar"
            name="sidebar"
            class="
              w-fit
              [&_>_summary]:opacity-40
              [&_>_summary]:hover:opacity-100
              open:[&_summary]:opacity-100
              open:[&_.bars]:hidden
              [&_.close]:hidden
              open:[&_.close]:block
              open:[&_button]:hover:bg-(--sl-color-accent-high)
              open:[&_button]:bg-(--sl-color-gray-2)
            "
          >
            <summary
              class="
                fixed
                bottom-2 left-2
                z-8000
                w-fit
                list-none
                list-image-none
              "
            >
              <MobileMenuToggle />
            </summary>
            <nav
              class="
                flex flex-col justify-between content-between 
                w-dvw
                h-dvh
                overflow-y-scroll
                pt-8 px-2
                pb-[72px]
                md:h-auto
                md:w-[16rem]
                md:p-2
                [&_summary]:bg-(--sl-color-gray-5)
              "
            >
              <slot name="sidebar" />
            </nav>
          </details>
        </aside>
      )
    }

    {
      hasSidebar &&
        (
        <script is:inline>
          function displayLeftSideBar() {
      const docWidth = document.documentElement.clientWidth
      const md = 768

      if (docWidth > md) {
        document.getElementById('left-sidebar').open = true
      } else {
        document.getElementById('left-sidebar').open = false
      }
    }

    // })

    displayLeftSideBar()
        </script>
      )
    }

    <slot />
  </div>
</div>
