---
const {
  toc,
  isMobile = false,
  depth = 0,
} = Astro.props
---

<ul>
  {
    toc.map((heading) => (
      <li>
        <a href={'#' + heading.slug} class="aria-curr:text-amber-300">
          <span>{heading.text}</span>
        </a>
        {heading.children.length > 0 && <Astro.self toc={heading.children} depth={depth + 1} {isMobile} />}
      </li>
    ))
  }
</ul>
