---
import type { Props } from '@astrojs/starlight/props'

const { toc, isMobile = false, depth = 0 } = Astro.props
---

{
  toc && (
    <aside
      class="
        p-4 w-3xs hidden
        lg:block
        h-full
        bg-(--sl-color-gray-6)
      "
    >
      <h2
        class="
          font-bold pb-2
          text-(--sl-color-white)
        "
      >
        On this page
      </h2>
      <nav class="pl-4">
        <ul class:list={{ isMobile }}>
          {
            toc.items.map((heading) => (
              <li>
                <a href={'#' + heading.slug}>
                  <span>{heading.text}</span>
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </aside>
  )
}
