---
const {
  toc,
  isMobile = false,
  depth = 0,
} = Astro.props
---

<ul class="pl-2 [&_ul]:pl-4 list-none">
  {
    toc.map((heading) => (
      <li
        class="
          font-bold
          pb-1 [&_li]:font-normal
          [&_a]:text-sm
        "
      >
        <a
          href={'#' + heading.slug}
          class="
            text-(----sl-color-black)
            aria-curr:text-amber-300
          "
        >
          <span>{heading.text}</span>
        </a>
        {heading.children.length > 0 && <Astro.self toc={heading.children} depth={depth + 1} {isMobile} />}
      </li>
    ))
  }
</ul>
