---
import type { Props } from '@astrojs/starlight/props'
---

<div
  class="
    grow
    [&_main]:h-full
    [&_main]:overflow-scroll
    [&_main]:p-4
    [&_main]:bg-(--sl-color-black)
  "
  style="height: calc(100dvh - 40px)"
>
  <slot />
</div>

{
  Astro.props.toc && (
    <aside>
      <slot name="right-sidebar" />
    </aside>
  )
}
