---
import type { Props } from '@astrojs/starlight/props'
---

<div class="h-full w-full">
<slot />
</div>

{
  Astro.props.toc && (
    <aside>
      <slot name="right-sidebar" />
    </aside>
  )
}
