---
import type { Props } from '@astrojs/starlight/props'
---

<div
  class="
    p-4
    w-screen
    overflow-scroll
    md:w-full
    md:p-8
    [&_main]:h-full
    [&_main]:w-auto
    [&_main]:bg-(--sl-color-black)
  "
  style="height: calc(100dvh - 68px)"
>
  <slot />
</div>

{
  Astro.props.toc && (
    <aside class="w-auto">
      <slot name="right-sidebar" />
    </aside>
  )
}
